<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Website</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  {{> header}}
  <div class="container text-center" style="background-color: red;padding-left: 0px;padding-right: 0px;padding-top: 250px;padding-bottom: 150px;/* margin-left: 0px; *//* margin-right: 0px; */">
    <p>Some Text Here Dawg</p>
    {{> footer}}
  </div>
</body>
</html>